@using Common.Exceptions
@using Domain.Dtos;
@using Domain.Services;
@inject IUserService userService
@model SelectedArticleViewModel

<input id="ownerId" value="@Model.SelectedArticle.Owner.Id" hidden />

<div class="row row-cols-auto">
    @if (string.IsNullOrWhiteSpace(Model.SelectedArticle.Owner.AvatarPath))
    {
        <img src="~/image/empty-avatar.jpg" class="image-lg card-img-top img-cover p-3" alt="Raeesh">
    }
    else
    {
        <img src="~/image/@Model.SelectedArticle.Owner.AvatarPath" class="image-lg card img-cover p-3" alt="Raeesh" />
    }
    <h3><a class="col nav-link text-dark" asp-controller="Account" asp-action="PersonalAccount" asp-route-login="@Model.SelectedArticle.Owner.Login">@Model.SelectedArticle.Owner.Login•@Model.SelectedArticle.CreationDate.ToLongDateString()</a></h3>
    <h1 class="text-center">@Model.SelectedArticle.Title</h1>
</div>

<div class="mb-3">
    <lab class="text-wrap text-xxl-start" style="white-space: pre-line">
        @Html.Raw(Model.SelectedArticle.Content.Replace(Environment.NewLine, "<br/>"));
    </lab>
</div>

<div>
    <h3>Комментарии</h3>
    @{
        CreateCommentViewModel vm = new CreateCommentViewModel();
        vm.ArticleId = Model.SelectedArticle.Id;
        await Html.RenderPartialAsync("..\\Comment\\_CreateComment.cshtml", vm);
    }
    <div class="row p-1">
        <div class="col-6">
            <ul id="commentsList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>