 @using Domain.Dtos;
 @using Domain.Services;
 @inject IUserService userService
 @model SelectedArticleViewModel

<div>
    <h1 class ="display-4">@Model.SelectedArticle.Title</h1>
    <h2 class="display-5">Автор: @Model.SelectedArticle.Owner.Login</h2>
    <h2 class="display-6">Дата публикации: @Model.SelectedArticle.CreationDate.ToShortDateString()</h2>
</div>
<div class="display-3">
    @Model.SelectedArticle.Content
</div>
<div>
    <h3>Комментарии</h3>
    @{
        CreateCommentViewModel vm = new CreateCommentViewModel();
        vm.ArticleId = Model.SelectedArticle.Id;
        await Html.RenderPartialAsync("..\\Comment\\_CreateComment.cshtml", vm);
    }
    @{
        if (Model.Comments.Count == 0)
        {
            <label>Комментариев нет</label>
        }
        else
        {
            foreach (var comment in Model.SelectedArticle.Comments)
            {
                <div class="container mb-2 card">
                    <div class="row">
                        <div class="col align-self-start">
                            <label>@comment.Creator.Login</label>
                            <label>@comment.CreationDate.ToShortDateString() @comment.CreationDate.ToShortTimeString()</label>
                        </div>
                        <div class="col-4">
                            <br>@comment.Content
                        </div>
                        @{
                            Guid userId = userService.GetAuthorizeUserId();
                            if (comment.CreatorId == userId || Model.SelectedArticle.OwnerId == userId)
                            {
                                <form class="col align-self-end mb-3 mw-100"
                                      asp-controller="Comment" 
                                      asp-action="DeleteComment" 
                                      asp-route-commentId="@comment.Id"
                                      asp-route-articleId="@Model.SelectedArticle.Id"
                                      method="post">
                                    <button class="btn btn-danger"
                                            type="submit">
                                        <h3>Удалить</h3>
                                    </button>
                                </form>
                            }
                        }
                    </div>
                </div>
            }
        }
    }
</div>