 @using Domain.Dtos;
 @model SelectedArticleViewModel

<div>
    <h1 class ="display-4">@Model.SelectedArticle.Title</h1>
    <h2 class="display-5">Автор: @Model.SelectedArticle.Owner.Login</h2>
    <h2 class="display-6">Дата публикации: @Model.SelectedArticle.CreationDate.ToShortDateString()</h2>
</div>
<div class="display-3">
    @Model.SelectedArticle.Content
</div>
<div>
    <h3>Комментарии</h3>
    @{
        if (Model.SelectedArticle.Comments.Count == 0)
        {
            <label>Комментариев нет</label>
        }
        else
        {
            foreach (var comment in Model.SelectedArticle.Comments)
            {
                <div class="row">
                    <label>@comment.Creator.Login</label>
                    <label>@comment.Content</label>
                </div>
            }
        }
    }
</div>