@using Common.Exceptions
@using Domain.Dtos;
@using Domain.Services;
@inject IUserService userService
@model SelectedArticleViewModel

<div>
    <input id="ownerId" value="@Model.SelectedArticle.Owner.Id" hidden />
    <h1 class="display-4">@Model.SelectedArticle.Title</h1>
    <h2 class="display-5">Автор: @Model.SelectedArticle.Owner.Login</h2>
    <h2 class="display-6">Дата публикации: @Model.SelectedArticle.CreationDate.ToShortDateString()</h2>
</div>

<div class="display-5 w-100">
    <label class="text-break">
        @Model.SelectedArticle.Content
    </label>
</div>

<div>
    <h3>Комментарии</h3>
    @{
        CreateCommentViewModel vm = new CreateCommentViewModel();
        vm.ArticleId = Model.SelectedArticle.Id;
        await Html.RenderPartialAsync("..\\Comment\\_CreateComment.cshtml", vm);
    }
    <div class="row p-1">
        <div class="col-6">
            <ul id="commentsList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>